
<h2 class="text">{{headingText}}...</h2>
<svg *ngIf="!shortBox" xmlns="http://www.w3.org/2000/svg" width="599" height="18" viewBox="0 0 599 18" fill="none" class="browser-view-off">
    <path d="M598.66 9L590 0.339746L581.34 9L590 17.6603L598.66 9ZM0 10.5L590 10.5V7.5L0 7.5L0 10.5Z" fill="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="294" height="18" viewBox="0 0 294 18" fill="none" class="mobile-view-off mobile-view-on"
[ngClass]="{
    'mobile-view-off': !shortBox,
    'mobile-view-on': !shortBox}">
    <path d="M293.66 9L285 0.339746L276.34 9L285 17.6603L293.66 9ZM0 10.5L285 10.5V7.5L0 7.5L0 10.5Z" fill="black"/>
    </svg>

 

 
