
<h2 class="text">{{headingText}}...</h2>
<svg *ngIf="!shortBox" xmlns="http://www.w3.org/2000/svg" width="574" height="18" viewBox="0 0 574 18" fill="none" class="browser-view-off">
        <path d="M573.66 9L565 0.339746L556.34 9L565 17.6603L573.66 9ZM0 10.5L565 10.5V7.5L0 7.5L0 10.5Z" fill="black"/>
        </svg>
<svg xmlns="http://www.w3.org/2000/svg" width="281" height="18" viewBox="0 0 281 18" fill="none" class="mobile-view-off mobile-view-on"
[ngClass]="{
    'mobile-view-off': !shortBox,
    'mobile-view-on': !shortBox}">
    <path d="M280.66 9L272 0.339746L263.34 9L272 17.6603L280.66 9ZM0 10.5L272 10.5V7.5L0 7.5L0 10.5Z" fill="black"/>
</svg>

   
        

 

 
